<div id="myModal" ng-controller='homeCtrl'>
    <div class="modal-header">
        <h3 class="modal-title">Add a tile!</h3>
    </div>
    <div class="modal-body">   
        <div>
            <input type="text" placeholder="name the tile" ng-model="tileInfo.message">             
        </div>
        <img width='100' height="100" src='img/ratatouille.jpg'>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="addItem()">OK</button>
        <button class="btn btn-warning" ng-click="cancel(tileHeader)">Cancel</button>
    </div>
</div>
